<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">

{% comment %}==================== page_title ========================{% endcomment %}
{% assign page_title = '' %}
{% if page.title %}
	{% capture page_title %}{{ page.title }} | {{ site.title }}{% endcapture %}
{% endif %}
<title>{{ page_title }}</title>

{% comment %}===================== page_description ============================{% endcomment %}
{% assign page_description = '' %}
{% capture page_description %}{% if page.description %}{{ page.description | strip_html | strip | rstrip | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}{%if paginator and paginator.page != 1 %} - Página {{ paginator.page }} {% endif %}{%if page.slug == 'category' %} Categoria: {{ page.title }}{% endif %}{%if page.slug == 'tag' %} Tag: {{ page.title }}{% endif %}{% endcapture %}
{% capture page_description %}{{ page_description | strip | rstrip | lstrip | escape | strip_newlines }}{% endcapture %}
<meta name="description" content="{{ page_description }}">
